<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Discuss - Share and Disucss your favourite web pages</title>
</head>
<body>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "new_submission" %}">Submit New Link</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
            <li><a href="{% url "login" %}">Login</a></li>
            <li><a href="{% url "user-registration"%}">Create New Account</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
