{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Discuss</h1>
    <h2>Submissions</h2>
    <ul>
        {% for submission in submissions %}
            <li>
                {% if request.user in submission.upvotes.all %}
                    <a href="{% url 'remove_upvote' link_pk=submission.pk %}">Remove Upvote</a> 
                {% else %}
                    <a href="{% url 'upvote_submission' link_pk=submission.pk %}">Upvote</a>
                {% endif %}
                <a href="{{ submission.url }}" target="_blank">{{ submission.title }}</a>
                <i><a href="{% url 'submission_detail' pk=submission.pk %}">Comments</a></i>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
