{% extends "base.html" %}

{% block content %}
<h1>Reply to comment</h1>
<p>
    <b>You are replying to:</b>
    <i>{{ parent_comment.body }}</i>
</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit Reply">
</form>
{% endblock %}