{% extends "base.html" %}

{% block content %}
<h1><a href="{{ object.url }}" target="_blank">{{ object.title }}</a></h1>
<p>submitted by: {{ object.submitted_by.username }}</p>
<p>submitted on: {{ object.submitted_on }}</p>

<p>
    <b>New Comment</b>
    <form action="{% url 'new_comment' %}?link_pk={{ object.pk }}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}

        <input type="submit" value="Comment" />
    </form>
</p>

<p>
    <b>Comments</b>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.body }} (<a href="{% url 'new_comment_reply' %}?link_pk={{ object.pk }}&parent_comment_pk={{comment.pk}}">Reply</a>)</li>
            {% if comment.comment_set.exists  %}
            <ul>
                {% for reply in comment.comment_set.all  %}
                    <li>{{ reply.body }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    </ul>
</p>
{% endblock %}